.container {
  display: flex;
}

.img {
  flex: 1;
}
.img > img {
  width: 100%;
}
.text {
  flex: 2
}
.title {
  font-size: large;
  font-weight: bold;
}
.subtitle {

}

.text > ul {
  text-align: justify;
}